*{
    margin: 0;
    padding: 0;
    font-family:roboto; 
    box-sizing: border-box;
}

.admin-workshop-request-page{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
}

.admin-workshop-request-page-right-panel{
    align-items: end;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.admin-home-page-title{
    flex: 1;
    text-align: center;
    margin-bottom: -30px;
}

.workshop-request-datetime{
    flex: 1;
    text-align: right;
    margin-right: 30px;
    margin-bottom: -40px;
}

.workshop-request-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

.workshop-request-panel{
    max-width: 600px;
    width: 600px;
    height: 300px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workshop-request-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.manage-trainers-button,
.workshop-request-button{
    max-width: 200px;
    align-items: center;
    padding: 12px 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #80C7FB;
    flex: 1;
    margin: 0 5px;
}