*{
    margin: 0;
    padding: 0;
    font-family:roboto; 
    box-sizing: border-box;
}

.admin-workshop-request-page{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
}

.admin-workshop-request-page-right-panel{
    align-items: end;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.admin-home-page-title{
    flex: 1;
    text-align: center;
    margin-bottom: -30px;
}

.workshop-request-datetime{
    flex: 1;
    text-align: right;
    margin-right: 30px;
    margin-bottom: -40px;
}

.workshop-request-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 15px;
}

.workshop-request-panel{
    max-width: 600px;
    width: 600px;
    height: 300px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workshop-request-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.accept-workshop-request-button,
.allocate-trainer-to-workshop-button,
.reject-workshop-request-button,
.workshop-request-button{
    max-width: 200px;
    align-items: center;
    padding: 12px 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #80C7FB;
    flex: 1;
    margin: 0 5px;
}

.accept-workshop-request-button{
    background-color: #37CC5C;
}

.accept-workshop-request-button:hover{
    background-color: #247554;
}

.allocate-trainer-to-workshop-button{
    background-color: #80C7FB;
}

.allocate-trainer-to-workshop-button:hover{
    background-color: #0672CB;
}

.reject-workshop-request-button{
    background-color: #ed2157;
}

.reject-workshop-request-button:hover{
    background-color: #B30B37;
}

/* CSS FOR APPROVE WORKSHOP REQUEST POPUP ------------------------------------------------------------------- */
.approve-workshop-request-popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-approve-workshop-request-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.approve-workshop-request-popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.approve-workshop-request-popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}