@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:roboto; 
    box-sizing: border-box;
}

body{
    background: #fff;
}


.admin-home-page{
    display: flex;
    align-items: end;
    justify-content: flex-start;
        /* padding: 15px; */
}

.admin-home-page-title{
    padding: 25px;
    margin-bottom: -5\100px;
}

.left-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.dell-logo{
    margin: auto;
    margin-top: 10px;
}


/* LEFT SIDEBAR CSS ---------------------------------------------------------------- */
.leftsidebar{
    width: 100%;
    max-width: 300px;
    height: 100%;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
}

.column img{
    border-radius: 50%;
    margin: 15px;
}

.usernamedisplay{
    white-space: nowrap;
    margin: 0;
    color: #0083CA;
  }

.userroledisplay{
    margin: 0;
    margin-left: 5px;
    color:#0083CA
  }

.leftsidebar .leftsidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftsidebar-content .leftsidebar-lists{
    list-style: none;
}

.leftsidebar-list .nav-link{
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 20px;
}


.sidebarbutton {
    background-color: white;
    color: black;
    width: 150px;
    height: 50x;
    border-radius: 25px;
    border-width: 0px;
    font-family: roboto;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 20px;
    text-align: left;
}

.sidebarbutton:hover{
    background-color: #0083CA;
    color: white;
}


/* TRAINER TABLE CSS--------------------------------------------------------------- */
.workshop-request-button, .manage-trainers-button{
    background-color: #80C7FB;
    color: black;
    width: 200px;
    height: 30x;
    border-radius: 25px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 15px;
}

.manage-trainers-button:hover,
.workshop-request-button:hover{
    background-color: #0672CB;
    color: white;
}

.middle-column{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.admin-home-page-title{
    text-align: center;
}

.workshop-table, .trainer-table{
    max-width: 600px;
    width: 600px;
    height: 270px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    align-items: center;
}


.admin-home-datetime{
    text-align: right;
    margin-right: 15px;
}

/* WORKSHOP TABLE CSS ------------------------------------------------------------------------------ */
.workshop-table .workshop-table-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
}

.workshop-table-content .workshop-table-lists{
    list-style: none;
}

.workshop-table-list .wt-link{
    width: 530px;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-right: 20px;
}

.bx{
    margin-right: 14px;
    font-size: 20px;
    color: black;
    padding: 10px;
}

.wt-link .link{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.wt-link:hover i,
.wt-link:hover .link{
    color: #fff;
}

/* TRAINER TABLE CSS ------------------------------------------------------------------ */
.table-striped{
    flex-direction: column;
    width: 570px;
}

.table-striped tbody{
    background-color: #d7d7d7;
}
  
.table-striped .bg-info{
    background: #d7d7d7;
    color: #707070;
}
  
.table-striped .bg-info th{
    cursor: pointer;
}
  
.table-striped .bg-info th:hover{
    color: #fff;
}

/* CSS FOR RIGHT SIDE OF ADMIN HOME PAGE --------------------------------------------------------------------- */
.right-column{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.admin-graphs{
    max-width: 600px;
    width: 600px;
    height: 620px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* admin home page graphs and buttons design*/

.graph_chooser:hover, .graph_buttons:hover{
    background-color: #0672CB;
    color: white;
}

.graph_chooser, .graph_buttons{
    background-color: #80C7FB;
    color: black;
    width: 200px;
    height: 30x;
    border-radius: 25px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 15px;
    align-self: center;
}