@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:roboto; 
    box-sizing: border-box;
}

body{
    background: #fff;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.dell-logo{
    margin-left: 90px;
}

.leftsidebar{
    width: 100%;
    max-width: 300px;
    height: 500px;
    background: #DEDDFF;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    align-items: flex-start;
    margin-top: 15px;
}

.column{
    display: flex;
    align-items: center;
    text-align: left;
}

.column img{
    border-radius: 50%;
    margin: 15px;
}

.usernamedisplay {
    white-space: nowrap;
    margin: 0;
    font-size: 28px;
    margin-top: -6px;
    margin-left: 5px;
  }

.userroledisplay {
    margin: 0;
    margin-left: 5px;
  }

.leftsidebar .leftsidebar-content{
    padding: 10px 16px;
}

.leftsidebar-content .leftsidebar-lists{
    list-style: none;
}

.leftsidebar-list .nav-link{
    display: flex;
    align-items: center;
    padding: 14px 12px;
    border-radius: 8px;
    /* border: 1px solid #707070; */
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-link:hover{
    background-color: #0083CA;
}

.bx{
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}

.nav-link .link{
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}

.nav-link:hover i,
.nav-link:hover .link{
    color: #fff;
}