@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* LoginPage design */
.login_page{
    margin:auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width:80%;
    margin-top: 50px;
}

.top_of_login{
    margin:auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width:80%;
    margin-top: 50px;
}

.login_words{
    font-family:roboto; 
}

.login_buttons{
    font-family: roboto;
}

.client_login_button, .admin_login_button, .trainer_login_button{
    background-color: #a1deff;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border-width: 0px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    margin-right: 20px;
    padding: 10px;
    transition: background-color 1000ms;
    transition: color 1000ms;
    border-width: 5px;
    border-radius: 20px;
    border-color: #0083CA;
}

.admin_login_button:hover, .client_login_button:hover, .trainer_login_button:hover{
    background-color: #28abf1;
    color:white;
}

.client_login_button_blue, .admin_login_button_blue, .trainer_login_button_blue{
    background-color: #0083CA;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border-width: 5px;
    border-color: black;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    margin-right: 20px;
    padding: 10px;
    transition: color 1000ms;
}

.signin_button{
    background-color: #0083CA;
    color: white;
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 1000ms;
    padding: 6px 10px;
    margin-top: 30px;
}

.signin_button:hover{
    background-color: #28abf1;
}




/* Navbar designs */
.navbar{
    padding: 20px;
    display: flex;
    background-color: #a1deff;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: #0083CA;
    justify-content: center;
}

.navbar button{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 5px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;
    transition: background-color 1000ms;
    border-color: #0083CA;
}

.navbar button:hover{
    background-color: #28abf1;
    color:white;
}

.username, .password{
    width: 50%;
    padding: 6px 10px;
    max-width: 600px;
    border-width: 5px;
    border-radius: 20px;
    border-color: #0083CA;
}