@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* LoginPage design */
.login_page{
    margin:auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width:80%;
    margin-top: 50px;
}

.top_of_login{
    margin:auto; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    grid-gap: 20px;
    width:80%;
    margin-top: 50px;
}

.login_words{
    font-family:roboto; 
    font-size: 23.5px;
    text-align: left;
}

.login_buttons{
    font-family: roboto;
}

.client_login_button, .admin_login_button, .trainer_login_button{
    background-color: white;
    color: black;
    width: 130px;
    height: 130px;
    border-radius: 25px;
    border-width: 0px;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 5px;
    border-radius: 20px;
    border-color: #0083CA;
}

.admin_login_button:hover, .client_login_button:hover, .trainer_login_button:hover{
    background-color: #28abf1;
    color:white;
}

.client_login_button_blue, .admin_login_button_blue, .trainer_login_button_blue{
    background-color: #0083CA;
    color: white;
    width: 130px;
    height: 130px;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
}

.signin_button{
    background-color: #0083CA;
    color: white;
    padding: 6px 10px;
    width: 50%;
    border-radius: 20px;
    border-width: 5px;
    border-color: black;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 1000ms;
    margin-top: 30px;
}

.signin_button:hover {
    background-color: #28abf1;
}

.username, .password{
    width: 50%;
    padding: 6px 10px;
    max-width: 600px;
    border-width: 5px;
    border-radius: 20px;
    border-color: #0083CA;
    margin:15px;
    font-size: 20px;
    text-align: center;
    color: #a9a9a9;
}

.signup, .forget_pw {
    margin:15px;
    font-size: 20px;
    color: #0000ee;
}




/* Navbar designs */
.navbar{
    padding: 50px;
    display: flex;
    background-color: #a1deff;
    border-style: solid;
    border-width: 5px;
    border-color: #0083CA;
    justify-content: center;
}

.navbar button{
    background-color: white;
    color: black;
    width: 200px;
    height: 70px;
    border-radius: 25px;
    border-width: 5px;
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;
    transition: background-color 500ms;
    transition: color 0ms;
    border-color: #0083CA;
}

.navbar button:hover{
    background-color: #28abf1;
    color:white;
    transition: background-color 500ms;
}




/* SignUpPageDesigns */
.errmsg{
    color: red;
}

.signup_submit_button{
    background-color: #0083CA;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 5px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;
    transition: background-color 1000ms;
    border-color: #0083CA;
}

.signup_submit_button:hover{
    background-color: #28abf1;
    color:white;
}

.signup_back_button{
    background-color:#BFBFBF;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 5px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;
    transition: background-color 1000ms;
    border-color: black;
}

.signup_back_button:hover{
    background-color: darkgrey;
    color:white;
}

.form_group{
    margin: 20px;
    font-size: 25px;
}

.form_control{
    margin: 20px;
    padding: 20px;
    border-color: #0083CA;
}

.col-lg-6{
    height: 100px;
    text-align-last: center;
    font-size: 15px;

}

.card-header{
    margin: 20px;
}