@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* LoginPage design */
.login_page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
}

.dell_logo{
    margin: 20px;
}

.top_of_login{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    width:80%;
    margin-top: 20px;
}

.login_buttons{
    text-align: center;
}

.client_login_button, .admin_login_button, .trainer_login_button{
    background-color: white;
    color: black;
    width: 90px;
    height: 90px;
    border-radius: 25px;
    border-width: 0px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px 0px 10px;
    padding: 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 3px;
    border-radius: 20px;
    border-color: #0083CA;
}


.admin_login_button:hover, .client_login_button:hover, .trainer_login_button:hover{
    background-color: #28abf1;
    color:white;
}

.client_login_button_blue, .admin_login_button_blue, .trainer_login_button_blue{
    background-color: #0083CA;
    color: white;
    width: 90px;
    height: 90px;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 10px 0px 10px;
    padding: 10px;
}

.signin_button{
    background-color: #0083CA;
    color: white;
    padding: 6px 10px;
    width: 20%;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 1000ms;
    margin: 10px 0px 0px 0px;

}

.signin_button:hover {
    background-color: #28abf1;
}

.username, .password{
    width: 80%;
    padding: 6px 10px;
    border-width: 3px;
    border-radius: 10px;
    border-color: #0083CA;
    margin:10px;
    font-size: 15px;
    text-align: center;
    color: #a9a9a9;
}

.signup, .forget_pw {
    margin:10px;
    font-size: 15px;
    color: #0000ee;
}

.login_form{
    margin: 10px;
    text-align: center;
}




/* Navbar designs */
.navbar{
    padding: 50px;
    background-color: white;
    border-style: solid;
    border-width: 0px;
 
}

.navbar_contents{
    display: flex;
    justify-content: center;
    width:100%;
    margin-top: 10px;
}
    

.navbar button{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 0px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    transition: background-color 500ms;
    transition: color 0ms;
    border-color: #0083CA;
}

.navbar button:hover{
    background-color: #28abf1;
    color:white;
    transition: background-color 500ms;
}

.card{
    border: none;
}




/* SignUpPageDesigns */
.errmsg{
    color: red;
}

.signup_submit_button{
    background-color: #5cdb5c;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 3px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    margin-right: 30px;
    padding: 10px;
    transition: background-color 1000ms;
    border-color: black;
}

.signup_submit_button:hover{
    background-color: darkgreen;
    color:white;
}

.signup_back_button{
    background-color:#BFBFBF;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    border-width: 3px;
    font-family: roboto;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 1000ms;
    border-color: black;
}

.signup_back_button:hover{
    background-color: darkgrey;
    color:white;
}

.form_group{
    margin: 10px;
    font-size: 15px;
    text-align: center;
}

.form_control{
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border-width: 3px;
    text-align: center;
}

.card-header{
    margin: 20px;
    text-align: center;
}

.card{
    text-align: center;
}

