@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #e3f2fd;
}

.admin-home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  margin-top: 30px;
}

.columns-container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 40px;
}

.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: 40px;
  margin-top: 30px;
}

.chart-container {
  width: 100%;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  box-shadow: grey 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: background-color 500ms;
}

.chart-title {
  font-size: 20px;
  color: black;
  border-bottom: 2px solid #0672cb;
  padding: 5px;
}

.total-requests {
  padding: 20px;
}

/* Button styles */
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.graph-button:hover,
.toggle-button:hover,
.year-button:hover {
  background-color: #0672cb;
  color: white;
}

.graph-button,
.toggle-button,
.year-button {
  background-color: #80c7fb;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 500ms, color 500ms;
  text-align: center;
  margin: 10px;
  align-self: center;
  box-shadow: grey 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: background-color 500ms;
}
