@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
}

.admin-workshop-request-page {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    height: 100vh;
}

.admin-workshop-request-page-right-panel {
    flex: 1;
    padding: 15px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin-workshop-request-page-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-workshop-request-page-title h2 {
    margin-right: auto;
}

.manage-workshop-request-panel-outer {
    height: 540px;
    width: 80%;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.manage-workshop-request-panel {
    height: 500px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    overflow-y: auto;
}

.workshop-request-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.workshop-request-table th,
.workshop-request-table td {
    border: none;
    padding: 10px;
    text-align: center;
}

.workshop-request-table th {
    background-color: #f2f2f2;
}

.workshop-request-panel-outer {
    height: auto;
    width: 80%;
    background: white;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
}

.workshop-request-panel {
    background: white;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    overflow-y: auto;
}

.view-workshop-details-button,
.accept-workshop-request-button,
.allocate-trainer-to-workshop-button,
.reject-workshop-request-button {
    background-color: #80C7FB;
    color: black;
    width: 150px;
    height: 30x;
    border-radius: 25px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
}

.accept-workshop-request-button {
    background-color: #37CC5C;
}

.accept-workshop-request-button:hover {
    background-color: #247554;
}

.allocate-trainer-to-workshop-button:hover,
.view-workshop-details-button:hover {
    background-color: #0672CB;
    color: white;
}

.reject-workshop-request-button {
    background-color: #ed2157;
}

.reject-workshop-request-button:hover {
    background-color: #B30B37;
}
