@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: roboto; 
    box-sizing: border-box;
}

.admin-manage-trainer-page{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    height: 100vh;
    background-image: url("../images/dashboardbackground.jpg");
}

.manage-trainer-column {
    flex: 1;
    padding: 15px;
}

.manage-trainer-title {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.manage-trainer-title h2 {
    margin-right: 480px;
}

.add-trainer-button{
    background-color: #80C7FB;
    color: black;
    width: 200px;
    height: 30x;
    border-radius: 25px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
}

.add-trainer-button:hover{
    background-color: #0672CB;
    color: white;
}

.manage-trainer-panel-outer {
    height: 540px;
    width: 80%;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.manage-trainer-panel {
    height: 500px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    align-items: center;
    overflow-y: auto;
}

/* CSS FOR TRAINER INFORMATION TABLE ------------------------------------------------------------------------- */

.trainer-info-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.trainer-info-table-th, .trainer-info-table-td {
    border: 1px solid #d7d7d7;
    padding: 8px;
    text-align: center;
}

.trainer-info-table-th {
    background-color: #f2f2f2;
}

.trainer-info-table-button {
    background-color: #80C7FB;
    color: black;
    width: 200px;
    height: 30x;
    border-radius: 25px;
    border-width: 0px;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 10px;
    transition: background-color 500ms;
    transition: color 500ms;
    border-width: 0px;
    border-radius: 8px;
    text-align: center;
    margin: 5px;
}

.trainer-info-table-button:hover {
    background-color: #0672CB;
    color: white;
}
