@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: roboto; 
    box-sizing: border-box;
}

.workshop-request-details-popup,
.approve-workshop-request-popup,
.allocate-trainer-popup,
.reject-workshop-request-popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.workshop-request-details-popup,
.open-approve-workshop-request-popup,
.open-allocate-trainer-popup,
.open-reject-workshop-request-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.workshop-request-details-popup h2,
.approve-workshop-request-popup h2,
.allocate-trainer-popup h2,
.reject-workshop-request-popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.workshop-request-details-popup button,
.approve-workshop-request-popup button,
.allocate-trainer-popup button,
.reject-workshop-request-popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-buttons button{
    width: 45%;
}

.submit-button{
    background-color: #37CC5C;
    color: black;
}

.submit-button:hover{
    background-color: #247554;
    color: black;
}

.cancel-button{
    background-color: #d7d7d7;
    color: black;
}

.cancel-button:hover{
    background-color: #707070;
    color: black;
}

.reject-reason-input {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    box-sizing: border-box;
} 

/* CSS FOR MULTIPLE OPTION SELECT MENU ------------------------------------------------------------------------- */

.select-menu-container {
    position: relative;
    max-width: 320px;
    width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    border: 1.5px solid #c0c0c0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

.list-items {
    position: absolute;
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open ~ .list-items {
    display: block;
}

.list-items .item {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.item .checkbox {
    display: flex;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1.5px solid #c0c0c0;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}
