* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
}

.admin-workshop-request-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-panel {
    flex: 0 0 auto;
    background-color: #f8f9fa;
    z-index: 1;
}

.admin-workshop-request-page-right-panel {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: -15px;
    background: #fff; 
}

.admin-workshop-request-page-title {
    flex: 1;
    text-align: center;
    margin-left: 550px;
}

.workshop-request-datetime {
    flex: 1;
    text-align: right;
    margin-right: 150px;
}

.workshop-request-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.workshop-request-panel {
    flex: 1 1 45%;
    max-width: 600px;
    min-width: 300px;
    height: 300px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.workshop-request-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}

.accept-workshop-request-button,
.allocate-trainer-to-workshop-button,
.reject-workshop-request-button,
.workshop-request-button {
    max-width: 200px;
    align-items: center;
    padding: 12px 10px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    background-color: #80C7FB;
    flex: 1;
    margin: 0 5px;
}

.accept-workshop-request-button {
    background-color: #37CC5C;
}

.accept-workshop-request-button:hover {
    background-color: #247554;
}

.allocate-trainer-to-workshop-button {
    background-color: #80C7FB;
}

.allocate-trainer-to-workshop-button:hover {
    background-color: #0672CB;
}

.reject-workshop-request-button {
    background-color: #ed2157;
}

.reject-workshop-request-button:hover {
    background-color: #B30B37;
}
