/* src/Carousel.css */
.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  box-shadow: #28abf1 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: #0083ca;
  font-size: 1.5rem;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}
.carousel__btn:hover {
  background-color: #28abf1;
}
.carousel__btn--prev {
  left: 0;
}
.carousel__btn--next {
  right: 0;
}
.carousel__img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.carousel__img:hover {
  transform: scale(1.05);
}
