* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

/* LAYER 1 */
.client-home-page {
  background-image: url("../images/dashboardbackground.jpg");
  height: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 450px 750px;
}
/* LAYER 2 */
.client-home-page-left {
  grid-row-start: 1;
  grid-column-start: 1;
  padding: 25px;
  align-items: center;
  margin-top: 50px;
}
.client-home-page-right {
  grid-row-start: 2;
  grid-column-start: 1;
  padding: 25px;
  align-items: center;
  margin-top: 50px;
}
.client-home-page-footer {
  grid-row-start: 1 / 2;
  grid-column: 2;
  padding: 25px;
  margin-top: 70px;
  max-width: 1000px;
}

/* LAYER 3 */
.find-ws {
  width: 100%;
  height: 350px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.view-request {
  width: 100%;
  height: 350px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 20px;
  margin-top: -50px;
}
.submit-requests {
  display: flex;
  width: 1000px;
  max-width: 1000px;
  height: 750px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 50px 75px 125px 125px 150px 75px;
  justify-content: center;
}
/* LAYER 4 */
.sr-title {
  grid-row-start: 1;
  max-width: 500px;
}
.sr-datepicker {
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 500px;
}
.sr-workshop-deets {
  grid-row-start: 3;
  max-width: 500px;
}
.sr-comments {
  grid-row-start: 4;
  max-width: 500px;
}
.sr-summary {
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  
}
.sr-submit {
  grid-row-start: 6;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 1000px;
}
/* LAYER 5 */
.startdate {
  display: grid;
  grid-column-start: 1;
  margin-right: 50px;
}
.enddate {
  display: grid;
  grid-column-start: 2;
  margin-left: 50px;
}

.submit-req-button,
.checkavbutton {
  background-color: #5cdb5c;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  font-family: roboto;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 1000ms;
  border-color: black;
  margin-left: 5px;
}
.submit-req-button:hover,
.checkavbutton:hover {
  background-color: green;
}
.clear-req-button {
  background-color: gray;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  font-family: roboto;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 1000ms;
  border-color: black;
  margin-left: 5px;
}
.fields {
  display: grid;
  grid-column-start: 1;
  background-color: #e3f2fd;
  padding: 10px;
  text-align: right;
  overflow-wrap: break-word;
}
.output {
  display: grid;
  grid-column-start: 2;
  background-color: #e3f2fd;
  padding: 10px;
  text-align: left;
  max-width: 500px;
  overflow-wrap: break-word;
}

.client-home-page-right-panel {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.client-home-page-title {
  flex: 1;
  text-align: center;
  margin: 20px;
}

.client-home-datetime {
  flex: 1;
  text-align: right;
  margin-right: 30px;
  margin-bottom: -40px;
}

.input-field {
  width: 500px;
  max-width: 1000px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.workshop_request_field {
  width: 100%;
  max-width: 1000px;
  height: 25px;
  margin-top: 10px;
  box-sizing: border-box;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}
