* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
}

.client-home-page {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
}

.client-home-page-right-panel {
    margin: auto;
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: -15px;
}

.client-home-page-title {
    flex: 1;
    text-align: center;
    margin-left: 0px;
}

.client-home-datetime {
    flex: 1;
    text-align: right;
    margin-right: 30px;
    margin-bottom: -40px;
}

.workshop-column {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 15px;
    justify-content: center;
}

.workshop-panel {
    max-width: 250px;
    width: 250px;
    height: 250px;
    background: #d7d7d7;
    color: #707070;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workshop-desc {
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    overflow-wrap: break-word;
    hyphens: auto;
}

.workshop-image {
    max-width: 100%;
    max-height: 100%;
    height:100px;
    align-items: center;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    flex: 1;
    margin: 0 5px;
}
