@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* LoginPage design */
.login_page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e3f2fd;
  padding: 20px;
}

.login_card {
  background-color: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.trainer-img,
.client-img,
.admin-img {
  margin: 24px 0;
}

.dell_logo {
  margin: 20.5px 0;
}

.role {
  color: #0083ca;
  margin-top: 10px;
}

.top_of_login {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login_buttons {
  margin-top: 20px;
}

.client_login_button,
.admin_login_button,
.trainer_login_button,
.client_login_button_blue,
.admin_login_button_blue,
.trainer_login_button_blue {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  border-width: 3px;
  transition: background-color 500ms, color 500ms;
}

.client_login_button,
.admin_login_button,
.trainer_login_button {
  background-color: white;
  color: black;
  border-color: #0083ca;
}

.client_login_button:hover,
.admin_login_button:hover,
.trainer_login_button:hover {
  background-color: #0083ca;
  color: white;
}

.client_login_button_blue,
.admin_login_button_blue,
.trainer_login_button_blue {
  background-color: #0083ca;
  color: white;
  border-color: black;
}

.signin_button {
  width: 150px;
  height: 50px;
  background-color: #0083ca;
  color: white;
  border-radius: 25px;
  border-width: 3px;
  border-color: black;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 10px;
  padding: 10px;
  transition: background-color 1000ms;
}

.signin_button:hover {
  background-color: #005f8a;
}

.username,
.password {
  width: 80%;
  padding: 10px;
  border-width: 3px;
  border-radius: 10px;
  border-color: #0083ca;
  margin: 10px auto;
  font-size: 15px;
  text-align: center;
  color: #a9a9a9;
}

.signup,
.forget_pw {
  margin: 10px;
  font-size: 15px;
  color: #0000ee;
  cursor: pointer;
}

.login_form {
  margin-top: 20px;
}

.card_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar designs */
.navbar {
  background-color: white;
  height: 80px;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: background-color 500ms, box-shadow 500ms;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar_contents {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbarbutton,
.testibutton {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 500ms, color 500ms;
  margin: 10px;
}

.navbarbutton {
  background-color: transparent;
  color: #0083ca;
  border-width: 0px;
}

.navbarbutton:hover,
.testibutton:hover {
  background-color: #0083ca;
  color: white;
}

.testibutton {
  background-color: white;
  color: black;
  border-width: 0px;
  margin-top: 20px;
}

.loginbutton {
  width: 150px;
  height: 50px;
  background-color: white;
  color: #008000;
  border-radius: 15px;
  border-width: 0px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  transition: background-color 500ms, color 500ms;
}

.loginbutton:hover {
  background-color: #5cdb5c;
  color: black;
}

.navbarlogo {
  margin-right: 20px;
}

.card {
  border: none;
}

/* SignUpPageDesigns */
.signuppage {
  background-color: #e3f2fd;
  padding: 20px;
  height: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 5000px;
  border: none;
  background-color: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0 25px;
}

.card-header {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.card-body {
}

.card-footer {
  display: flex;
  justify-content: center;
}

.form_group {
  margin-bottom: 15px;
  font-size: 15px;
  text-align: center;
}

.form_control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0083ca;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
  text-align: center;
}

.signup_submit_button,
.signup_back_button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 3px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 1000ms;
}

.signup_submit_button {
  background-color: #5cdb5c;
  color: white;
  margin: 25px 30px 0 0;
  border-color: black;
}

.signup_back_button {
  background-color: #bfbfbf;
  color: white;
  margin-top: 25px;
  border-color: black;
}

.signup_back_button:hover {
  background-color: darkgrey;
  color: white;
}

.signup-button-div {
  align-self: center;
}

.card-header {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 5px;
}

.card {
  text-align: center;
}

/* homepage designs */
.homepageinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 600px;
  width: 100%;
  height: 300px;
  color: #0083ca;
}

.homepage {
  background-image: url("../images/homepageimg2.jpg");
  background-size: cover;
  opacity: 0.5;
  margin-top: 50px;
  padding: 50px;
}

.homepage-div-2 {
  background-image: url("../images/homepageimg.jpg");
  background-size: cover;
  height: 450px;
}

.about {
  grid-column-start: 1;
  padding: 5px;
  margin-top: 50px;
}

.about2 {
  grid-column-start: 2;
  font-size: 20px;
  margin-top: 80px;
}

.testimonials {
  grid-column-start: 2;
  padding: 10px;
  font-size: 20px;
  width: 500px;
  margin: 10px 100px 0 0;
}

.slideshow {
  max-width: 500px;
  margin: 20px 0;
}

.homepage-div-3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #e3f2fd;
  background-size: cover;
  height: 550px;
  color: #e3f2fd;
  align-items: center;
  justify-items: center;
}

.homepage-div-3-title1 {
  font-size: 28px;
  grid-row-start: 1;
  margin-top: 50px;
  color: #0083ca;
}

.homepage-div-3-title2 {
  grid-row-start: 2;
  margin-bottom: 280px;
}

.homepage-div-5 {
  background-color: #e3f2fd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  height: 350px;
}

.info1,
.info2,
.info3,
.info4 {
  width: 300px;
  height: 200px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: #eef8ff;
}

.info1 {
  grid-column-start: 1;
  background-image: url("../images/homepageinfoimg1.png");
}

.info2 {
  grid-column-start: 2;
  background-image: url("../images/homepageinfoimg2.png");
}

.info3 {
  grid-column-start: 3;
  background-image: url("../images/homepageinfoimg3.png");
}

.info4 {
  grid-column-start: 4;
  background-image: url("../images/homepageinfoimg4.png");
}

.info1:hover,
.info2:hover,
.info3:hover,
.info4:hover {
  box-shadow: #28abf1 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: background-color 500ms;
}

.homepage-div-5-title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: #0083ca;
  align-items: center;
  width: 100%;
  grid-column-start: span 4;
}

.infotext {
  font-size: 20px;
  background-color: #0083ca;
  padding: 5px;
  width: 180px;
  color: white;
}

.bottom-of-homepage {
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: #e3f2fd;
  width: 100%;
  color: #0083ca;
  font-size: 22px;
  height: 100%;
}

.contactustitle {
  display: grid;
  grid-row-start: 1;
  margin-top: 20px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sendemailbutton {
  width: 150px;
  height: 50px;
  background-color: #5cdb5c;
  color: white;
  border-radius: 25px;
  border-width: 3px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 1000ms;
  border-color: black;
  margin-top: 10px;
}

.sendemailbutton:hover {
  background-color: darkgreen;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .login_card {
    margin-top: 20px;
    padding: 20px;
  }

  .client_login_button,
  .admin_login_button,
  .trainer_login_button,
  .client_login_button_blue,
  .admin_login_button_blue,
  .trainer_login_button_blue {
    width: 70px;
    height: 70px;
    font-size: 13px;
  }

  .signin_button {
    width: 100px;
    height: 40px;
    font-size: 13px;
  }

  .username,
  .password {
    width: 90%;
    font-size: 14px;
  }

  .form_control {
    width: 90%;
  }

  .contactform {
    max-width: 100%;
    padding: 10px;
  }
}
