@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: #fff;
  font-family: roboto;
}

.leftsidebar {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: #d7d7d7;
  color: #707070;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.column {
  display: flex;
  align-items: center;
  text-align: left;
}

.column img {
  border-radius: 50%;
  margin: 15px;
}

.usernamedisplay {
  white-space: nowrap;
  margin: 0;
  font-size: 28px;
  color: #0083ca;
}

.userroledisplay {
  margin: 0;
  margin-left: 5px;
  color: #0083ca;
}

.leftsidebar .leftsidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftsidebar-content .leftsidebar-lists {
  list-style: none;
}

.leftsidebar-list .nav-link {
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

.sidebarbutton {
  background-color: #80c7fb;
  color: black;
  width: 150px;
  height: 20x;
  border-radius: 25px;
  border-width: 0px;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 10px;
  transition: background-color 500ms;
  transition: color 500ms;
  border-width: 0px;
  border-radius: 8px;
  text-align: center;
}

.sidebarbutton:hover {
  background-color: #0083ca;
  color: white;
}

.sidebarbutton span {
  margin-bottom: 30px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #0083ca;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;

}

