@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.trainer-schedule-calendar-popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 15px 25px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.trainer-schedule-calendar-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.trainer-schedule-calendar-popup header {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 10px;
}

.trainer-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header .icons {
  display: flex;
}

header .icons span {
  /* height: 38px; */
  /* width: 38px; */
  /* max-width: 38px; */
  width: 50%;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

/* .icons span:last-child {
  margin-right: -10px;
} */

header .icons span:hover {
  background: #f2f2f2;
}

.trainer-schedule-calendar-popup .arrow-left,
.trainer-schedule-calendar-popup .arrow-right,
.trainer-schedule-calendar-popup .close-button {
  display: flex;
  height: 20px;
  width: 20px;
  color: black;
  font-size: 14px;
  border-radius: 50%;
  background: #fff;
  align-items: center;
  justify-content: center;
}

.trainer-schedule-calendar-popup .close-button {
  margin-left: 20px;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.calendar{
  padding: 20px;
}

.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive{
  color: #aaa;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: #6e93f7;
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}
