@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  box-sizing: border-box;
}

body {
  background: #fff;
}

.trainer-home-page {
  display: grid;
  grid-template-areas: "top-panel left-column right-column";
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  justify-content: center;
}

.trainer-home-page-title {
  padding: 25px;
  margin-bottom: -5px;
  justify-content: center;
  text-align: center;
}

.top-panel {
  grid-area: top-panel;
  width: 10px;
}

.dell-logo {
  margin: auto;
  margin-top: 10px;
}

/* TRAINER TABLE CSS--------------------------------------------------------------- */
.trainer-left-column {
  grid-column-start: 1;
  padding: 15px;
  width: 80%;
  margin-left:50px;
}

/* .trainer-home-page-title {
  margin-top: 10px;
  margin-bottom: -30px;
  justify-content: center;
  width: 500px;
} */

.trainer-home-pg-top-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1000px;
  width: 500px;
  height: 700px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}

.util-hrs-detail-panel {
  border-radius: 10px;
  border-width: 0px;
  background-color: #80c7fb;
  height: 50px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.util-hrs-detail-panel span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.util-hrs-detail-panel:hover {
  background-color: #669fc9;
}

.workshop-calendar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  max-width: 1000px;
  width: 500px;
  height: 700px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
}

/* .util-hrs-panel-title {
  grid-row-start: 1;
  padding: 5px;
  color: #0672cb;
  margin-bottom: 10px;
} */
.workshopstoday {
  grid-row-start: 2;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.trainersworking {
  grid-row-start: 3;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.workshopattendees {
  grid-row-start: 4;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.attendancepercentage {
  grid-row-start: 5;
  color: #37cc5c;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}

.breakdown-of-attendance-div {
  max-width: 1000px;
  width: 500px;
  height: 270px;
  background: #e3f2fd;
  color: black;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  align-items: center;
  color: #0672cb;
}

.admin-home-datetime {
  text-align: right;
  margin-top: 50px;
  margin-bottom: -60px;
  margin-right: 20px;
  width: 900px;
}

/* TRAINER TABLE CSS ------------------------------------------------------------------ */
.table-striped {
  flex-direction: column;
  width: 480px;
}

.table-striped tbody {
  background-color: #e3f2fd;
}

.table-striped .bg-info {
  background: #e3f2fd;
  color: #0672cb;
}

.table-striped .bg-info th {
  cursor: pointer;
}

.table-striped .bg-info th:hover {
  color: #fff;
}

/* CSS FOR RIGHT SIDE OF TRAINER HOME PAGE --------------------------------------------------------------------- */

.trainer-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  padding: 15px;
  margin-right: 50px;
}

.workshop-stats {
  margin-top: 20px;
  grid-row-start: 0;
  color: #0672cb;
}

.trainer-stats {
  grid-row-start: 2;
  margin-top: 10px;
  margin-bottom: 10px;
}
.admin-graphs {
  max-width: 1000px;
  width: 900px;
  height: 700px;
  background-color: #e3f2fd;
  color: #0672cb;
  border-radius: 20px;
  /* padding: 10px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  padding: 10px;
}

.form_control {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

/* trainer home page graphs and buttons design*/

.update-hrs-button:hover,
.graph_buttons:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.update-hrs-button,
.graph_buttons {
  background-color: #80c7fb;
  color: black;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border-width: 0px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 10px;
  transition: background-color 500ms;
  transition: color 500ms;
  border-width: 0px;
  border-radius: 8px;
  text-align: center;
  margin: 5px;
  align-self: center;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.work_hours_row {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  align-self: center;
}

.admin-graphs h1 {
  margin-top: 20px;
}

.work_hours_num {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 30px;
  text-align: center;
}

.work_hours_desc {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  width: 85%;
}

.work_hours_desc h5 {
  margin-left: 10px;
  align-self: flex-start;
}

.work_hours_desc_area {
  height: 70px;
  resize: none;
}

.scrollable_list {
  padding: 10px;
  max-height: 550px;
  overflow-y: auto;
  outline: none;
}

.workshop_detail_panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-content: space-between;
  border-radius: 5px;
  border-width: 0px;
  background-color: #80c7fb;
  height: 75px;
  margin-top: 5px;
  width: 100%;
  padding: 0px;
  align-items: center;
}

.workshop_detail_panel span {
  margin-right: 10px;
}

.workshop_detail_panel:hover {
  background-color: #669fc9;
}

.unallocated-workshop{
  background-color: #669fc9;
  height: 50px;
}

.unallocated-workshop .allocated-only{
  display: none;
}

.filter {
  padding: 5px;
}

.filter span {
  margin-right: 10px;
}

.filter input,
.filter select {
  margin-right: 20px;
  border-width: 3px;
  border-radius: 10px;
  border-color: #80C7FB;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.work_hours_num_input,
.work_hours_desc_area{
  border-width: 3px;
  border-radius: 10px;
  border-color: #80C7FB;
  margin: 10px;
  font-size: 15px;
  text-align: center;
}

.utilisation-scrollable-list{
  max-height: 600px;
  overflow-y: auto;
  outline:none;
}

.workshop-calendar-title{
  padding:5px;
}