@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

.details-popup {
    width: 500px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 15px 25px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 99;
}

.details-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.details-popup header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons{
  display: flex;
}

header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.title {
  margin-left: 100px;
}

.icons span:last-child{
  margin-right: -10px;
}

header .icons span:hover{
  background: #f2f2f2;
}

.details-popup .arrow-left,
.details-popup .arrow-right,
.details-popup .close-button {
    display: flex;
    height: 20px;
    width: 20px;
    color:darkgray;
    font-size: 14px;
    border-radius: 50%;
    background: #fff;
    align-items: right;
    justify-content: center;
}

.details-popup .close-button {
    margin-right: 40px;
}

.details-popup .close-button :hover {
  color:black;
}

.workshop-detail {
  margin-bottom: 5px;
}