/* .ws_req_form_group {
  width: 100%;
  margin-bottom: 15px;
}
.ws_req_label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.ws_req_form_control {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0083ca;
  border-radius: 5px;
  box-sizing: border-box;
}

.ws_req_form_control:focus {
  border-color: #28abf1;
  outline: none;
} */
